:root {
  --boton-bg-hover: greenyellow;
  --boton-bg:  #141414;
  --boton-cam-bg: #fff;
  --boton-cam-color: #f00;
  --boton-color-circulo: #f00;
}
body {
  margin: 0;
  background-image: radial-gradient(rgb(201, 201, 201) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
  font-family: 'Ubuntu', sans-serif;
}

#banner-container{
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(40,40,40,1) 47%, rgba(114,114,114,1) 100%);
}

#udg-cucei-logo{
  min-width: 230px;
  max-width: 500px;
  filter: invert(0%);
  flex-grow: 1;
  flex-shrink: 1;
}

#cuceimobilelogo{
  max-width: 430px;
  flex-grow: 1;
  flex-shrink: 1;
}

#titulo {
  margin: 20px 0;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Bruno Ace SC', cursive;
  text-transform: uppercase;
}

.cam-container__bg {
  /* background-color: #1414142d; */
  /* background: rgb(20,20,20);
  background: linear-gradient(180deg, rgba(20,20,20,0.5046393557422969) 0%, rgba(214,214,214,0.5186449579831933) 100%); */

  border-radius: 25px;
}

.password-actualizada {
  background: rgb(0,164,255);
  background: linear-gradient(180deg, rgba(0,164,255,0.5046393557422969) 0%, rgba(214,214,214,0.5186449579831933) 100%);
}

.password-erronea {
  background: rgb(214,0,0);
  background: linear-gradient(180deg, rgba(214,0,0,0.8295693277310925) 0%, rgba(214,214,214,0.5186449579831933) 100%);
}

.password-warning {
  background: rgb(255,214,0);
background: linear-gradient(180deg, rgba(255,214,0,0.8603816526610644) 0%, rgba(214,214,214,0.5186449579831933) 100%);
}


.cam-container__img {
  transition: 1s all;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  
  transform: translate(-50%, -50%);
  
  /* pointer-events: none; */
  transition: .5s;

  content: url('../img/pc.png');
  z-index: 10;
}

.cam-container__img::before {
  content: 'ccscascas';
  color:red;

  height: 90px;
  width: 30px;
  z-index: 200;
}

.cam-container__img:hover::before {
  clip-path: circle(800px at center) ;
}


.signup-container {
  position:relative;
  margin: 40px auto;

  border-radius: 30px;
  padding: 15px;
  border: 2px solid #f1f2f3;
  font-family: 'Ubuntu', sans-serif;
}

#floatingPassword {
  outline-color: black;
}

.select-incrementum {
  background-color: transparent;
  transition: .2s ease;
  margin-bottom: 5px;
  height: 55px;
}

.select-incrementum:hover {
  transform: scale(1.03);
  transition: .2s ease;
}

.select-incrementum:focus {
  transform: scale(1.03);
  transition: .2s ease;
}

/* Boton */
.boton {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 4rem;

  background-color: var(--boton-bg);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  
  border-radius: 10px;
  position: relative;

  text-transform: uppercase;
  transition: .3s ease all;
  overflow: hidden;
}

.boton span, .boton i {
  position: relative;
  z-index: 10;
  transition: .3s ease all;
}

#icon-registrar {
  margin-left: 5px;

}
.boton.circular:hover {
  color: black;
  /* justify-content: space-around; */
  transition: .3s ease all;
}

.boton.circular:hover span {
  /* transform: translateX(-300px); */
  transform: translateX(-10vw);
}

.boton.circular:hover i{
  transform: translateX(10vw);
}




.boton.circular::after {
  content: "";
  width: 100%;
  height: 300px;
  background-color: var(--boton-bg-hover);
  position: absolute;
  z-index: 1;
  transform: translateY(-200px);
  transition: .3s ease-in-out transform;
  border-radius: 0 0 50% 50%;
}

.boton.circular:hover::after{
  transform: translateY(50px);
}

.boton-camara {
  background-color: var(--boton-cam-bg);
  color: var(--boton-cam-color);
  
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 4rem;

  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  
  border-radius: 10px;
  position: relative;

  text-transform: uppercase;
  transition: .3s ease all;
  /* overflow: hidden; */
}

.boton-camara span {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: 20px;
  
}

.boton-camara span::before {
  text-align: center;
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  border-radius: 20px;

  background-color: var(--boton-color-circulo);
  clip-path: circle(0 at center) ;
  /* transition: .1s all; */

  font-family: 'Bruno Ace SC', cursive;
  font-size: 2.5rem;   
  /* padding-top: 10%;  */
  text-align: end;
  vertical-align: middle;
}

.boton-camara span:hover::before  {
  /* background-color: var(--card-color-main); */
  background-color: transparent;
  clip-path: circle(800px at center) ;
  transition: .4s all;
}

.bg-exitoso {
  background-color: rgb(14, 241, 101);
}

.img-camara-minimizada {
  /* top: 100%;
  height: 75%; */
  top: 75%;
  height: 40%;
  transition: 1s all;
}

.contenedor-links {
  margin-top: 30px;
  margin-bottom: 50px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(32, 32, 32);
  color: white;
  display: flex;
  justify-content: center;

  z-index: 300;
}

footer > p{
  margin-right: 10px;
  margin-left: 10px;
}

.margin-left {
  margin-left: 5px;
}
.margin-top {
  margin-top: 15px;
}

#mensaje-toast {
  /* background-color: var(--boton-bg); */
  
  /* background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 54%, rgba(175,175,175,1) 100%); */
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.incrementum {
  transition: .2s ease;
}

.incrementum:hover {
  transform: scale(1.03);
  transition: .2s ease;
}


.largum {
  height: 100%;
}
/* More Responsive */

@media screen and (width < 992px) {

  .boton.circular:hover span {
    transform: translateX(-5vw);
  }
  
  .boton.circular:hover i{
    transform: translateX(5vw);
  }

  .cam-container__img {
    height: 60%;
  }

  .img-camara-minimizada {
    top: 65%;
    height: 40%;
    transition: 1s all;
  }
  
}

@media screen and (width < 768px) {
  #udg-cucei-logo{
    display: none;
  }

  #cuceimobilelogo{
    width: 100%;
  }

  .boton.circular:hover span {
    transform: translateX(-18vw);
  }
  
  .boton.circular:hover i{
    transform: translateX(18vw);
  }

  .cam-container__img {
    height: 100%; 
    /* width: 50%; */
  }

  .img-camara-minimizada {
    top: 95%;
    height: 75%;
    transition: 1s all;
  }

  
}

@media screen and (width < 500px) {
  .signup-container {
    position:relative;

    margin: 40px auto;
  
    border-radius: 30px;
    padding: 15px;
    
  }

  .boton.circular:hover span {
    transform: translateX(-20vw);
  }
  
  .boton.circular:hover i{
    transform: translateX(20vw);
  }

  .cam-container__bg {
    background: rgb(0,164,255);
    background: linear-gradient(180deg, rgba(0,164,255,0.5046393557422969) 0%, rgba(214,214,214,0.5186449579831933) 100%);

  }


  .cam-container__img {
    content: url('../img/smartphone.png');
  }
  
  .contenedor-links {
    margin-bottom: 95px;
  }
}

@media screen and (width < 400px) {
  .signup-container {
    position:relative;

    margin: 40px auto;
  
    border-radius: 30px;
    padding: 15px;
    
  }

  .boton.circular:hover span {
    transform: translateX(-10vw);
  }
  
  .boton.circular:hover i{
    transform: translateX(10vw);
  }

  
}

